/* General */
body {
    font-family: "Playwrite CU", cursive;
    margin: 0;
    padding: 0;
    background-color: coral;
    color: #333;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección principal */
section {
    padding: 2rem;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Estilos para la sección "Sobre mí" */
h2 {
    font-size: 2rem;
    color: black;
}

ul {
    list-style-type: square;
    padding-left: 2rem;
}

ul li {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

/* Estilos para el formulario de contacto */
form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    form {
        padding: 1rem;
    }
    
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.productos {
    flex: 1 1 200px;
    background-color: aqua;
text-align: center;
border: 1px solid black;
padding: 15px;
box-shadow: 2px 2px 4px;

}
.productos img {
    max-width: 100%;
    height: auto;
}
slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}

.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: none;
    font-size: 18px;
    transition: 0.6s ease;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

img {
    width: 100%;
}
}